/* Custom color things */
body {
  --bold-blue: rgb(0, 119, 255);
  --primary-purple: #7b1fa2;
  --light-purple: #ae52d4;
}

/* Custom button things */
button.transparent {
  background: transparent;
}
