:root {
  --background-dark: #17172b;
  --background-darker: #11111F;
  --text-normal: #fbfbfb;
  --text-bright: white;
}
body,.card,code,input {
  background: var(--background-darker);
}
code,input {
  color: var(--text-bright);
}

body,.card {
  color: var(--text-normal);
}