:root {
  --background-lessdark: #22223F;
  --background-dark: #17172b;
  --background-darker: #11111F;
  --background-hover: var(--background-lessdark);
  --background-disabled: var(--background-darker);

  --background-primary: var(--background-dark);

  --text-normal: #fbfbfb;
  --text-bright: white;
  --text-disabled: #989898;
  --text-disabled-light: #ffffff4d;

  --border-normal: #bebebe;
  --border-alt: #aaa;
}

.card {
  border: 1px solid var(--border-normal);
}
.card.noborder {
  border: none;
}

code,.card,.primary,form,input,select,pre {
  background: var(--background-dark);
}
body,.darker {
  background: var(--background-darker);
}
.darker * {
  background: inherit;
}
code,input,select,button,pre {
  color: var(--text-bright);
}

:checked[type="checkbox"] + .checkable::after {
  color: var(--text-bright);
}

body,.card *, article.primary, p {
  color: var(--text-normal);
}

nav {
  box-shadow: none;
}

button {
  box-shadow: none;
}
