:root {
  --background-dark: #22223F;
  --background-hover: whitesmoke;
  --background-disabled: rgb(230, 230, 230);

  --background-primary: white;

  --text-normal: #111;
  --text-bright: var(--text-normal);
  --text-disabled: rgb(87, 87, 87);
  --text-disabled-light: #0000004d;

  --border-normal: #aaa;
  --border-alt: #ccc;
}

.card {
  border: 1px solid var(--border-normal);
}
.card.noborder {
  border: none;
}

body {
  background: aliceblue !important;
}
[contenteditable]:empty:not(.no-empty-effect):not(:focus) {
  border-bottom: #22222F 2px solid !important;
  animation: pulse linear 1.5s infinite;
}

.primary {
  background: var(--background-primary);
  color: var(--text-normal);
}