@mixin invoice-table {
  $border: 1px dashed $border-alt;
  width: 100%;
  tr:first-child {
    border-top: 1px solid $border-alt;
  }
  tr:last-child {
    border-bottom: 1px solid $border-alt;
    border-top: 1px solid $border-alt;
  }
  tr.border-bottom {
    border-bottom: $border;
  }
  td {
    padding: 0.3em;
    border-left: $border;
    vertical-align: middle;
    &:first-child {
      border-left: none;
    }
  }
  td.price {
    text-align: center;
    min-width: 2rem;
  }
  td.total {
    color: white;
    font-weight: bold;
    border-left-style: solid;
  }
  td.quantity {
    padding-right: 0.3rem;
    max-width: 1.25rem;
    font-size: 1rem;
    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      i {
        margin-top: 0.1rem;
        margin-right: 0.3rem;
        font-size: 110%;
        color: $border-alt;
      }
      span {
        font-weight: bold;
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
  .promo-text {
    font-weight: bold;
  }
  .promo-price {
    color: $success-green;
  }
}