@mixin form-styles {
  input,details,label.checkable,span,p,select,button {
    margin: 0.5rem 0;
    border-radius: 0;
  }
  p:not(:first-child) {
    margin: 1rem 0;
  }
  label.checkable {
    margin-bottom: 1rem;
  }
  input[type="submit"],input[type="button"],button {
    border-radius: $br-light;
  }

  form.disabled {
    pointer-events: none; 
  }

  input[type="text"],input[type="password"],input[type="email"],select {
    &:disabled,&:not(select):read-only {
      transition: none;
      background-color: rgb(230, 230, 230);
    }
  }
  button:disabled {
    background-color: rgb(170, 170, 170);
  }

  input[type="button"] {
    border: none;
  }

  div.input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    i {
      margin-right: 0.5rem;
      margin-left: 1rem;
    }
  }
}