form {
  display: flex;
  flex-direction: column;
  label {
    display: block;
  }
}
* {
  margin: 0.5rem 0;
}
header {
  line-height: 1.5;
  text-align: center;
  padding: 0.5rem 0;
  margin: 0.3rem 0;
  border-bottom: none;
}
input[type="submit"] {
  width: 100%;
  margin-bottom: 0;
}

/* Footer styles */
@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}
i.fa-circle-notch {
  animation-name: spin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  color: var(--bold-blue);
}
footer {
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
span.error {
  color: red;
  font-family: monospace;
}